ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
.pricelist,
.pricelist .wp-block-group__inner-container{
	@media (min-width:998px){
	strong {
		  padding: 10px 10px 10px 0;
		  background-color: #fff;
		  z-index: 20;
		  position: relative;

			&::before{
				content: '';
				display: block;
				background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 10%);
				background-position: bottom;
				background-size: 10px 1px;
				background-repeat: repeat-x;
				height: 1px;
				position: relative;
				top: 20px;
				width: 65%;
				right: 0;
				z-index: 0;
			}
		}
		> p{
			position: relative;
			
			em{
			  padding: 10px 0 10px 10px;
			  background-color: #fff;
			  position: absolute;
			  right: 30%;
			  margin-top: -11px;
			  text-align: right; 
			  z-index: 100;

			}
		}
	}
}

.pricelist.pricelist-full .wp-block-group__inner-container{
	@media (min-width:998px){
	strong {
		padding: 10px 10px 10px 0;
		background-color: #fff;
		z-index: 20;
		position: relative;
		&::before{
			width: 95%;
		}
	}
	> p{
			em{
			right: 0;
			}
		}
	}
}

.dotted-gradient {
	background-image: linear-gradient(to right, #333 40%, rgba(255, 255, 255, 0) 20%);
	background-position: top;
	background-size: 10px 1px;
	background-repeat: repeat-x;
}
